.app {
  background: $background-color;
  color: $secondary-color;
  height: 100vh;
  font-family: 'Lato';

  @include flex-center;

  .home__button {
    width: fit-content;
    margin-top: 2vh;
    background-color: $primary-color;
  }

  .services__button{
  width: fit-content;
  margin-top: 2vh;
  background-color: $primary-color;
  }
  .geoportal__button{
  width: fit-content;
  margin-top: 2vh;
  background-color: $primary-color;
  }

  .object_action__button
  {
    //display: flex;
    justify-content: center;
    //gap: 50px;
    row-gap: 50px;              
    flex-wrap: wrap;
    margin-top: 2vh;
    background-color: $primary-color;
  }

}


.mapComponent {
  height: 100vh;
  width: 100vw;
}

